.app-header {
  background-color: #2a2e35;
  color:lime;
  height:20%;
  padding:5px 5px 5px 5px;
  display:flex;
  justify-content: center;
  background: linear-gradient(135deg, lime, #b005ff);

}
.header{
  display:flex;
  gap:20px;
  padding-top: 0.5rem;
}

.project-title{
    margin-left:20px;
    padding-right:20%;
    justify-content: center;
    display:flex;
    place-items: center;
    height: 200px;
}
